useDynLib(nnclust)
export(nnfind,mst,mst_restart,nncluster,clusterMember,nearestCluster,trimCluster)
S3method(print,nncluster)
S3method(print,neighbours)
S3method(print,summary.neighbours)
S3method(summary,neighbours)
S3method(print,mst)

